{%extends 'base.html'%}
{%block content%}
<div class="row">
    <div class="col-sm-10" style="margin-top:120px;">
        <form method="post">
            {%if success %}
            <script>alert('Successfully Changed');</script>
            {%endif%}
            {%if failed%}
            <script>alert('Wrong password entered');</script>
            {%endif%}
            {%if wrngpass%}
            <script>alert('Passwords doesnot match');</script>
            {%endif%}
            {% csrf_token %}
        <table class="table form-emboss">

            <tr>
                <td>Current Password</td>
                <td><input type="password" name="oldpassword" id="oldpassword"></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="newpassword" id="newpassword"></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="confirmpassword" id="confirmnewpassword"></td>
            </tr>
            <tr>
                <td><input type="submit" class="btn btn-primary" value="Change Password"></td>
            </tr>
        </table>
        </form>
    </div>
</div>
{%endblock content%}
